/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

header {
    margin: 30px 10px 10px 10px;
}

body {
    font-size: large;
}

article {
    margin-left: 10px;
    margin-right: 10px;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 20px;
}

img {
    max-width: 100%;
    padding-top: 25px;
    margin: auto;
}

main {
    margin: 50px 10px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure {
    margin: 0;
}

figcaption {
    font-size: .8em;
}

@media screen and (min-width: 310px) {
    * {
        background-color: rgb(212, 212, 212);
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    img {
        max-width: 100%;
        padding-top: 25px;
    }
}